/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.01.2016, 18:10:26
    Author     : Bernd
*/



h1{
    color: white;
    background: #add8e6;
    padding: 2px;
    text-align: center;
}

h2, h3{
    font-family: "Courier";
    color: blue;
}